pkgbase = howard-date-git
	pkgver = r47.9b83a41
	pkgrel = 1
	url = https://github.com/HowardHinnant/date
	arch = x86_64
	license = BSD-3
	makedepends = git
	depends = cmake
	source = git+https://github.com/HowardHinnant/date
	sha256sums = SKIP

pkgname = howard-date-git

